<div class="container-fluid">
  <div class="info my-3">
    <p>Player Name: <strong>{{ userName }}</strong></p>
    <p style="max-width: 400px;
    line-height: 25px;">Room ID: <strong>{{ room.roomId }}</strong> <button class="btn btn-light btn-sm ms-2 border-0"
        title="Copy" (click)="copy()"><i class='bx bx-copy'></i></button></p>
    <p>Room Name: <strong>{{ room.roomName }}</strong></p>
    <span class="position-absolute guessWord">{{guessingWord}}</span>

  </div>

  <div class="row">
    <div class="players-container col-3">
      <h5>Players</h5>
      <div *ngIf="!room.players?.length" class="mt-5 text-center text-muted fst-italic">
        No players to show
      </div>
      <ul *ngIf="room.players?.length" class="list-group">
        <ng-container *ngFor="let player of room.players">
          <li class="list-group-item fw-bold d-flex align-items-center justify-content-between">
            <div>
              {{player.userName}}<span *ngIf="player.userName === userName"> (You)</span>
              <i *ngIf="player.id === currentPlayer?.id" class="bx bxs-left-arrow ms-1 text-danger"></i>
            </div>
            <span *ngIf="matchStarted">
              {{player.points}} {{player.points === 1 ? 'pt' : 'pts'}}
            </span>
          </li>

        </ng-container>
      </ul>
    </div>
    <div class="whiteboard col-6">
      <h5>Draw</h5>
      <ng-whiteboard #whiteboard [options]="whiteboardOptions" [(data)]="drawData"
        (drawEnd)="saveDraw()"></ng-whiteboard>
      <div class="custom-btn-grp" [class.pe-none]="currentPlayer.id!=userId">
        <button class="btn btn-dark mt-2 me-2" (click)="modify('clear')" title="Clear">
          <i class='bx bx-brush fs-4'></i>
        </button>
        <button class="btn btn-outline-dark mt-2 me-2" (click)="modify('undo')" title="Undo">
          <i class='bx bx-undo fs-4'></i>
        </button>
        <button class="btn btn-outline-dark mt-2" (click)="modify('redo')" title="Redo">
          <i class='bx bx-redo fs-4'></i>
        </button>
      </div>
      <div class="text-center mt-2">
        <button class="btn btn-outline-dark" (click)="start(matchStarted?'End':'Start')">{{
          matchStarted?'End':'Start'}}</button>
      </div>
    </div>
    <div class="chat-container col-3">
      <h5>Chats</h5>
      <div class="chatbox border flex-grow-1">
        <div *ngIf="!room.players?.length" class="mt-5 text-center text-muted fst-italic">
          No chats to show
        </div>
        <ul *ngIf="chats.length">
          <ng-container *ngFor="let chat of chats">
            <li>
              <span class="fw-bold">{{ chat.player.userName }} {{chat.player.userName===userName? '(You)':''}}</span> :
              <span [class]="chat.guessed ? 'text-success fw-bold' : ''">{{ chat.text }}</span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class=" mt-2">
        <form #chatForm="ngForm" (ngSubmit)="send(chatForm)" class="input-ctnr d-flex">
          <input type="text" class="form-control me-2" (keypress.enter)="send(chatForm)" name="text" required ngModel
            autocomplete="off">
          <button class="btn btn-dark" type="submit" title="Send">
            <i class='bx bx-send'></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>